/* ----------------------------------------- */
/*  Root                                     */
/* ----------------------------------------- */
:root {
    --font-primary: 'Source Sans Pro', sans-serif;
}

/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('../fonts/SSP/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('../fonts/SSP/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


